
.second-page {
    background-color: #f4ede4;
    height: fit-content;
    }
    &-title {
        text-align: center;
        padding: 10px 10px 10px 10px;
    }
    &-container-logos {
        padding: 40px 0px 40px 0px;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

.logo-second-page {
    max-width: 170px;
    margin: 10px 20px;
}

@media (min-width: 320px) {
    .second-page-title  {
      display: none;
    }
}
@media (min-width: 768px) {
    .second-page-title  {
        display: flex;
        justify-content: center;
      }
}