.seventh-page{
    background-color: #4a154b;
    color: white;
     height: 460px;
     clip-path: ellipse(75% 100% at center top);
    display: flex;
    flex-direction: column;
    }
    &-text-title {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 26px;
        margin-top: 50px;
        text-align: center;
}
.button.seventhpage--m2{
    background-color: #611f69;
    color: #fff;
    fill: #fff;
    margin-bottom: 15px;
    border: 1px solid white;
    width: 90%;
    margin-left: 5%;
    }
    &--m1{
        background-color: #fff;
        color: #611f69;
        fill: #611f69;
        box-shadow: inset 0 0 0 1px #611f69;
        margin-bottom: 45px;
        width: 90%;
        margin-left: 5%;
}
