.sixth-page{
    padding: 48px 8px;
    background-color: white;
    height: 970px;
    }
    &-promedio{
        width: 80%;
        margin: 10%;
    }
    &-text-p{
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 16px;
        text-align: center;
    }
    &-&-title {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 16px;
        text-align: center;
}
.button.sixtpage--one{
    background-color: #611f69;
    color: #fff;
    fill: #fff;
    margin-bottom: 15px;
    }
    &--two{
        background-color: #fff;
        color: #611f69;
        fill: #611f69;
        box-shadow: inset 0 0 0 1px #611f69;
        margin-bottom: 45px;
}
.item{
    list-style: none;
    font-weight: 700;
    text-align: center;
    }
    &-list{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    }
    &-number{
        color: #611f69;
        font-weight: 700;
        font-size: 50px;
}

